.main_container {
    max-width: 1300px;
    min-height: 100vh;
    margin: auto;
    /* background-color: thistle; */
}

.title {
    margin: 0;
    font-size: 70px;
}

.content_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    /* background-color: antiquewhite; */
}

.year {
    position: relative;
    font-size: 30px;
    font-weight: 500;
}

.image {
    filter: drop-shadow(0 0 0.75rem black);
}

.certifications_2020 {
    position: relative;
    width: 100%;
    height: 880px;
    /* background-color: aliceblue; */
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.certifications_2021 {
    position: relative;
    width: 100%;
    height: 1760px;
    /* background-color: aliceblue; */
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}