@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;1,900&display=swap");
.container {
  margin: 0;
  padding: 0;
}

.video_container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.video_container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;

  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: 100%;
  height: auto;

  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}

.main {
  cursor: default;
  background-color: var(--color-bg);
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding-top: 1rem;
}

.menu li {
  list-style: none;
}

.menu li:hover {
  cursor: pointer;
}

.intro__container {
  min-height: 100vh;
  position: relative;
}

.my__container {
  margin: 0 auto;
  max-width: 1200px;
  min-height: 80vh;
  position: relative;
  display: flex;
}

.main_symbol {
  margin-top: 28px;
  margin-left: 15px;
}

.main_menu_container {
  width: 100%;
  height: 80px;
  display: flex;
  gap: 30px;
  margin-left: 50px;
}

.top_bar {
  height: 80px;
  width: 100vw;
  display: flex;
  position: fixed;
  background-color: var(--color-bg);
  z-index: 1;
}

.top_left {
  height: 80px;
  flex-grow: 1;
  display: flex;
  margin-left: 30px;
}

.top_left__menu {
  margin: auto 0;
}

.profile_pic {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  margin-top: 15px;
  background: url("../public/me-circle.png");
  background-size: cover;
}

.top_right {
  height: 80px;
  flex-grow: 2;
  /* position: relative; */
  margin-right: 30px;
}

.theme_option {
  margin-right: 15px;
  margin-top: 25px;
  cursor: pointer;
}

.menu_container {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.menu_items {
  margin: auto 0;
  font-weight: 500;
  color: var(--color-text);
}

.menu_option a {
  color: var(--color-primary);
  font-weight: 300;
  transition: 0.3s;
}

.my_name__container {
  width: 54%;
  position: absolute;
  top: 35%;
}

.my_name__left {
  /* width: 35vw; */
  height: auto;
}

.my_intro_container_one {
  display: none;
}

.my_intro_container_two {
  display: block;
}

.my_intro {
  font-size: 4rem;
  color: var(--color-primary);
  line-height: 0.2;
  font-family: "Merriweather", serif;
  /* font-family: Bitter, loretta, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
  font-style: normal;
  font-weight: 300;
}

.short_intro_container_one {
  display: block;
}

.short_intro_container_two {
  display: none;
}

.name {
  font-size: 4rem;
  font-weight: 900;
  font-style: italic;
}

.my_intro_short {
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 50px;
  color: var(--color-text);
}

.job {
  font-weight: 500;
  color: var(--color-primary);
}

.external_link_one {
  position: fixed;
  left: 48px;
  bottom: 200px;
  cursor: pointer;
  z-index: 2;
}

.external_link_two {
  position: fixed;
  left: 48px;
  bottom: 150px;
  cursor: pointer;
  z-index: 2;
}

.external_after {
  content: "";
  display: block;
  width: 1px;
  height: 130px;
  margin: 0px auto;
  background-color: var(--color-text-offset);
  position: fixed;
  left: 60px;
  bottom: 0;
  z-index: 2;
}

.email {
  position: fixed;
  right: 50px;
  writing-mode: vertical-rl;
  bottom: 150px;
  z-index: 2;
  color: var(--color-primary);
}

.email_after {
  content: "";
  display: block;
  width: 1px;
  height: 130px;
  margin: 0px auto;
  background-color: var(--color-text-offset);
  position: fixed;
  right: 60px;
  bottom: 0;
  z-index: 2;
}

.my_photo__container {
  width: 43%;
  display: block;
  position: absolute;
  right: 0;
  top: 20%;
  filter: drop-shadow(5px 5px 10px #222);
}

.short_code:hover {
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.short_code_selected {
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.resume_button_container_one {
  display: block;
}

.resume_button_container_two {
  display: none;
}

/************** Technologies ***************/

.technologies_container {
  width: 100%;
  height: auto;
  margin-bottom: 10%;
  background-color: var(--color-bg-secondary);
  /* max-width: 1200px; */
  margin: auto;
  padding: 1.5rem;
  /* border-radius: 30px; */
  padding: 50px;
}

.tech_text {
  text-align: center;
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: 50px;
  color: var(--color-secondary);
}

.technologies_bar {
  width: 100%;
  height: auto;
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-wrap: wrap;
}

/************ Project Section **************/

.project__container {
  max-width: 1200px;
  margin: 100px auto;
}

.project_header {
  font-size: 4rem;
  font-weight: 500;
  color: var(--color-primary);
  text-align: center;
}

.features_project__container {
  width: 100%;
  min-height: 80vh;
}

.project {
  width: 100%;
  height: auto;
  display: flex;
  margin-bottom: 50px;
  background-color: var(--color-bg-secondary);
  border-radius: 30px;
}

.project_image:hover {
  opacity: 1;
  filter: grayscale(0);
}

.project_text__container {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto 0;
  margin-left: 20px;
}

.features {
  color: var(--color-text);
}

.project_text__container_right {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto 0;
  margin-right: 20px;
}

.project_title__container_right {
  width: 100%;
  padding: 10px;
  background-color: var(--color-bg-offset);
  border-radius: 5px;
}

.project_tech_list {
  width: 100%;
  font-weight: 400;
}

.project_text {
  width: 100%;
  color: var(--color-text-offset);
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: 300;
}

.project_title {
  font-weight: 600;
  font-size: 2rem;
  margin: 0;
  margin-bottom: 20px;
  color: var(--color-text);
}

.tech {
  color: var(--color-text);
}

.tech:hover {
  text-decoration: underline;
  cursor: pointer;
  font-weight: 600;
}

.extra_logo_container {
  display: flex;
  gap: 10px;
  margin: 0;
}

div.github_logo_project {
  margin: 0;
  width: 25px;
  height: 25px;
  content: var(--github-logo-project);
}

div.github_logo {
  margin: 0;
  width: 25px;
  height: 25px;
  content: var(--github-logo);
}

div.external_logo {
  margin: 0;
  width: 25px;
  height: 25px;
  content: var(--external_logo);
}

div.linkedin_logo_white {
  margin: 0;
  width: 25px;
  height: 25px;
  content: url("../public/logo/linkedin-white.png");
}

div.linkedin_logo {
  margin: 0;
  width: 25px;
  height: 25px;
  content: var(--linkedin_logo);
}

/************* Journey Section **************/

.journey__container {
  min-height: 85vh;
  margin-top: 200px;
  margin: 0 auto;
  background-color: var(--color-bg-secondary);
}

.journey_header {
  font-size: 4rem;
  font-weight: 500;
  color: var(--color-primary);
  text-align: center;
  margin: 0;
  padding-top: 100px;
}

.tabs_container {
  display: flex;
  width: 60%;
  margin: auto;
  padding-top: 50px;
}

.tabs_option {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn {
  font-size: 1.6rem;
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
  border-left: 0.5rem solid var(--color-border);
  color: var(--color-text);
}

.active_btn {
  border-left: 0.5rem solid var(--color-bg-border);
  transition: all 0.3s ease;
}

.content_tabs {
  margin: 0;
  padding: 0 50px;
}

.content {
  display: none;
  transition: all 0.3s ease-out;
}

.active_content {
  display: block;
  transition: all 0.3s ease-in;
}

.content_title {
  font-size: 1.7rem;
  font-weight: 300;
  margin: 0;
  padding-top: 20px;
  color: var(--color-text);
}

.content_description {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.5;
  color: var(--color-text);
}

.from_platform a {
  font-weight: 600;
}

.from_platform:hover a {
  text-decoration: underline;
  cursor: pointer;
}

.content_list li {
  line-height: 2rem;
  margin-right: 30px;
  color: var(--color-text);
}

.content_list_split {
  padding: 0;
  margin: 0;
}

.content_list_split li {
  line-height: 2rem;
  margin-right: 30px;
  color: var(--color-text);
  list-style-position: inside;
}

.content_split {
  display: flex;
}

.content_split_title {
  font-weight: 600;
  text-decoration: underline;
  color: var(--color-text);
}

.content_split_two_contents {
  display: flex;
  gap: 75px;
}

/******************* About Me ******************/

.about_me__container {
  max-width: 60vw;
  height: auto;
  margin: auto;
  padding-bottom: 50px;
}

.about_me__title {
  font-size: 3rem;
  text-align: center;
  font-weight: 600;
  color: var(--color-primary);
}

.about_me__description {
  line-height: 1.5;
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--color-text);
}

.highlight_text {
  color: var(--color-primary);
}

/************* Me Section *******************/

.me__container {
  max-width: 100vw;
  height: auto;
  background-color: var(--color-bg-secondary);
  margin: 0 auto;
  padding-bottom: 100px;
}

.message_container {
  max-width: 50vw;
  margin: auto;
  text-align: center;
  line-height: 1.5;
  font-size: 1.4rem;
  font-weight: 300;
}

.title {
  font-size: 4rem;
  font-weight: 500;
  color: var(--color-primary);
  text-align: center;
  margin: 0;
  padding-top: 60px;
}

.message_description {
  margin-bottom: 50px;
  margin-top: 30px;
  color: var(--color-text);
}

.social_media_container {
  display: block;
}

.footer_container {
  display: none;
  background-color: var(--color-bg-secondary);
}

@media (width < 1400px) {
  .my__container {
    margin: 0 auto;
    max-width: 80vw;
    min-height: 80vh;
    position: relative;
    display: flex;
  }

  .my_name__container {
    width: 48%;
    position: absolute;
    top: 37%;
  }

  .my_intro {
    font-size: 2.8rem;
  }

  .name {
    font-size: 2.8rem;
    font-weight: 700;
  }

  .my_intro_short {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 50px;
    color: var(--color-text);
  }

  .my_photo__container {
    width: 40%;
    right: 10%;
    top: 25%;
  }

  /************* Project *************/

  .project__container {
    max-width: 1000px;
    margin: 100px auto;
  }

  .project_text__container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto 0;
    margin-left: 20px;
  }

  .features {
    color: var(--color-text);
  }

  .project_tech_list {
    width: 100%;
    font-weight: 400;
    line-height: 1.6;
  }

  .project_text {
    width: 100%;
    color: var(--color-text-offset);
    font-size: 1.1rem;
    line-height: 1.4;
    font-weight: 300;
    padding-right: 10px;
    margin: 0;
  }

  .project_title {
    font-weight: 600;
    font-size: 2rem;
    margin: 0;
    margin-bottom: 20px;
    color: var(--color-text);
  }

  /************** Learning *************/
  .tabs_container {
    display: flex;
    width: 70%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 100px;
  }
}

@media (width < 1100px) {
  .my__container {
    margin: 0 auto;
    max-width: 80vw;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }

  .my_name__container {
    width: 80%;
    position: relative;
    padding-bottom: 50px;
    margin: 0 auto;
    text-align: center;
  }

  .my_intro_container_one {
    display: block;
  }

  .my_intro_container_two {
    display: none;
  }

  .my_intro {
    line-height: 1.5;
    margin: 0;
  }

  .name {
    font-size: 2.8rem;
    font-weight: 700;
  }

  .my_intro_short {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: 50px;
    color: var(--color-text);
  }

  .my_photo__container {
    width: 300px;
    display: block;
    position: relative;
    margin: 0 auto;
    padding-top: 100px;
    right: 0;
  }

  .technologies_container {
    width: 100%;
    height: auto;
    margin-bottom: 10%;
    background-color: var(--color-bg-secondary);
    margin: auto;
    padding: 1.5rem;
    padding: 50px;
    display: flex;
    flex-direction: column;
  }

  .tech_text {
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
    padding-bottom: 50px;
    color: var(--color-secondary);
  }

  .technologies_bar {
    width: 100%;
    height: auto;
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
  }

  /************* Project *************/

  .project__container {
    max-width: 700px;
    margin: 100px auto;
  }

  .project {
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 50px;
    background-color: var(--color-bg-secondary);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
  }

  .project_text__container {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    position: relative;
  }

  .project_tech_list {
    width: 100%;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
  }

  .project_text {
    width: 100%;
    color: var(--color-text-offset);
    font-size: 1.1rem;
    line-height: 1.4;
    font-weight: 300;
    text-align: center;
  }

  .project_title {
    font-weight: 600;
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--color-text);
    text-align: center;
  }

  .extra_logo_container {
    display: flex;
    gap: 10px;
    margin: 0 auto;
    position: relative;
    padding-bottom: 20px;
  }
}

@media (width < 900px) {
  /************* Project *************/
  .project__container {
    max-width: 520px;
    margin: 100px auto;
  }

  /************* Learning ************/

  .journey_header {
    font-size: 4rem;
    font-weight: 500;
    width: 70vw;
    color: var(--color-text);
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
  }

  .tabs_container {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .tabs_option {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 50px;
    position: relative;
    margin: 0 auto;
  }

  .btn {
    font-size: 1.2rem;
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
    border-bottom: 0.5rem solid var(--color-border);
    color: var(--color-text);
  }

  .active_btn {
    border-bottom: 0.5rem solid var(--color-bg-border);
    transition: all 0.3s ease;
  }

  /************* Me Section *******************/

  .message_container {
    max-width: 70vw;
    margin: auto;
    text-align: center;
    line-height: 1.5;
    font-size: 1.3rem;
    font-weight: 300;
  }

  .title {
    font-size: 3rem;
  }

  .message_description {
    margin-bottom: 50px;
    margin-top: 30px;
    color: var(--color-text);
  }
}

@media (width < 700px) {
  .main_menu_container {
    display: none;
    width: 100%;
    height: 80px;
    margin-left: 50px;
  }

  .my__container {
    margin: 0 auto;
    max-width: 80vw;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    gap: 30px;
  }

  .my_name__container {
    width: 100%;
    position: relative;
    padding-bottom: 50px;
    margin: 0 auto;
    text-align: center;
  }

  .my_intro_container_one {
    display: none;
  }

  .my_intro_container_two {
    display: block;
  }

  .my_intro {
    font-size: 2.5rem;
  }

  .name {
    font-size: 2.5rem;
    font-weight: 700;
  }

  .my_intro_short {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: 50px;
    color: var(--color-text);
  }

  .my_photo__container {
    width: 250px;
    display: block;
    position: relative;
    margin: 0 auto;
    padding-top: 150px;
  }

  .resume_button_container_one {
    display: none;
  }

  .resume_button_container_two {
    display: block;
  }

  /************** Technologies ***************/

  .technologies_container {
    width: 100%;
    height: auto;
    margin-bottom: 10%;
    background-color: var(--color-bg-secondary);
    /* max-width: 1200px; */
    margin: auto;
    padding: 1.5rem;
    /* border-radius: 30px; */
    padding: 30px;
  }

  .tech_text {
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
    padding-bottom: 50px;
    color: var(--color-secondary);
  }

  /* .technologies_bar {
    width: 100%;
    height: auto;
    display: flex;
    gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
  } */

  .technologies_bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }

  .tech_bar_img {
    width: 60px;
  }

  .tech_bar_img_medium {
    width: 80px;
  }

  .tech_bar_img_long {
    width: 130px;
  }

  /************* Project *************/

  .project__container {
    max-width: 80vw;
    margin: 100px auto;
  }

  .project_header {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--color-primary);
    text-align: center;
  }

  .project_text__container {
    width: 90%;
  }

  /* .project_text {
    text-align: left;
  } */

  /************* Learning ************/

  .journey_header {
    font-size: 2.5rem;
    font-weight: 500;
    width: 70vw;
    color: var(--color-text);
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
  }

  .tabs_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .tabs_option {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 50px;
    position: relative;
    justify-content: center;
  }

  .btn {
    font-size: 1.2rem;
    padding: 10px;
    border: none;
    background: none;
    cursor: pointer;
    border-bottom: 0.5rem solid var(--color-border);
    color: var(--color-text);
  }

  .active_btn {
    border-bottom: 0.5rem solid var(--color-bg-border);
    transition: all 0.3s ease;
  }

  .content_description {
    font-size: 1.1rem;
  }

  .content_title {
    font-size: 1.5rem;
  }

  /*********** About Me **************/

  .about_me__container {
    max-width: 80vw;
    height: auto;
    margin: auto;
    padding-bottom: 50px;
  }

  .about_me__title {
    font-size: 2.5rem;
  }

  .about_me__description {
    line-height: 1.5;
    font-size: 1.1rem;
    font-weight: 300;
    color: var(--color-text);
  }

  /*********** Get In Touch **************/

  .title {
    font-size: 2.5rem;
  }

  .message_description {
    font-size: 1.1rem;
  }

  /************* Footer **************/
  .social_media_container {
    display: none;
  }

  .footer_container {
    display: block;
    background-color: var(--color-bg-secondary);
  }

  .external_social_container {
    width: 80vw;
    margin: 0 auto;
  }

  .external_logo_social {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 0;
    padding-bottom: 20px;
  }

  .external_social_email_container {
    width: 80vw;
    margin: 0 auto;
  }

  .email_social {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
    color: var(--color-text);
  }
}

@media (width < 500px) {
  .intro__container {
    min-height: 40vh;
    position: relative;
  }

  .top_left {
    margin-left: 15px;
  }

  .top_right {
    margin-right: 15px;
  }

  .my__container {
    margin: 0 auto;
    max-width: 90vw;
    height: auto;
    position: relative;
    display: block;
    padding-top: 15%;
  }

  .my_name__container {
    width: 90%;
    position: relative;
    padding-bottom: 50px;
    text-align: left;
    margin-top: 100px;
  }

  .my_photo__container {
    width: 200px;
    display: none;
  }

  .my_intro {
    font-size: 2rem;
  }

  .my_intro_container_one {
    display: none;
  }

  .my_intro_container_two {
    display: block;
  }

  .short_intro_container_one {
    display: none;
  }

  .short_intro_container_two {
    display: block;
  }

  .name {
    font-size: 2rem;
    font-weight: 700;
  }

  .my_intro_short {
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: 50px;
    color: var(--color-text);
  }

  .resume_button {
    /* background: #64ffda;
    color: #222;
    border-radius: 3px;
    padding: 0.5em 1em;
    border: 2px solid #64ffda; */
    font-size: 0.5rem;
    cursor: pointer;
  }

  /************ Technology  ***********/

  .technologies_bar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  /********** Project ************/

  .project__container {
    max-width: 90vw;
    margin: 100px auto;
  }

  .project_title {
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: var(--color-text);
  }

  .project_tech_list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    font-weight: 500;
    justify-content: center;
  }

  .project_text__container {
    width: 90%;
  }

  .project_text {
    width: 100%;
    color: var(--color-text-offset);
    font-size: 0.95rem;
    line-height: 1.4;
    font-weight: 300;
  }

  .tech {
    font-size: 1rem;
  }

  /************* Journey Section **************/

  .journey__container {
    min-height: 85vh;
    margin: 0 auto;
    background-color: var(--color-bg-secondary);
  }

  .content_tabs {
    margin: 0;
    padding: 0 10%;
  }

  .content_list_split {
    padding: 0;
    margin: 0;
  }

  .content_list_split li {
    line-height: 2rem;
    margin-right: 30px;
    color: var(--color-text);
    list-style-position: inside;
  }

  .content_split_two_contents {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 10px;
  }

  .about_me__container {
    max-width: 80vw;
  }

  .message_container {
    max-width: 80vw;
  }
}
